/* .App {
  text-align: center;
} */

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.itemContainer {
  background-color: #854795;
  min-height: 80vh;
  /* display: flex; */
}

.items {
  background-color: #787878;
  /* min-height: 0vh; */
  display: flex;
  flex-direction: column;  
}

.itemImage {
  background-color: #452935;
  min-height: 200px;
  min-width: 200px;
  max-width: 100px;
  display: flex;
  text-align: center;
  margin: 0;
}

  h3 {
  display: flex;
  text-align: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 10px;
}
h4 {
  display: flex;
  text-align: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 10px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
